.accomodation-container
  height: 100%
  width: 100%

  p
    margin: 0px
    line-height: 1.2

  .accomodation-content
    height: 100%
    font-size: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .title
      width: 80%
      text-align: center
    
    .item
      width: 80%

    .nairbnb
      width: 80%
      display: flex
      flex-direction: column
      justify-content: center
      text-align: left
      
      .buttons
        width: 80%
        display: flex
        align-self: center
        justify-content: space-around

        button, a
          background-color: var(--mat-sys-inverse-primary)
          font-size: 16px

    
      .image-container
        width: 100%
        display: flex
        justify-content: center

      .image
        aspect-ratio: 2000/943
        position: relative

.web
  .hosting
    width: 700px

.tablet
  .hosting
    width: 500px


.mobile
  .accomodation-content
    .title
      width: 90%
    .item
      width: 90%
    .nairbnb
      width: 90%
      .buttons
        flex-direction: column
        align-items: center
        gap: 10px
        width: 90%

        button, a, span
          font-size: 14px

    .hosting
      margin: 30px 0 0 0
      width: 350px