<div class="accomodation-container" appResponsive>
  <div class="accomodation-content">

    <div class="title">
      <h1>NAirbnb</h1>
    </div>
    <div class="nairbnb">
      <p>Find a member willing to host you or offer a place to stay:</p>
      <br>
      <div class="buttons">
        <div class="button">
          <a mat-fab extended href="https://maps.app.goo.gl/dJ485FYYUPwnbeyNA" target="_blank">
            <mat-icon>search</mat-icon>
            I am looking for accomodation
          </a>
        </div>
        <div class="button">
          <a mat-fab extended href="https://maps.app.goo.gl/dJ485FYYUPwnbeyNA" target="_blank">
            <mat-icon>night_shelter</mat-icon>
            I am offering a place to stay
          </a>
        </div>
      </div>
    </div>
    <br>

    <div class="title">
      <h1>Hotels</h1>
    </div>
    <div class="item">
      <div class="text">
        <h2>Hotel Mimosa Paris</h2>
        <p>16 rue du Faubourg Saint-Martin, 75010 Paris (10th arrondissement)</p>
        <p>12 mn walk</p>
        <p>Subway station: Strasbourg St Denis</p>
        <br>
        <p>Single room 124€</p>
        <p>Double room 144€</p>
        <p>Quadruple room 197€</p>
        <p>Breakfast 10,50€</p>
        <br>
        <a href="https://www.booking.com/hotel/fr/ha-tel-mimosa.fr.html?aid=356931&label=metagha-link-LUFR-hotel-494908_dev-desktop_los-1_bw-3_dow-Monday_defdate-1_room-0_gstadt-2_rateid-eu_aud-0_gacid-21411112526_mcid-10_ppa-0_clrid-0_ad-1_gstkid-0_checkin-20241230_ppt-G_lp-2250_r-16926538686329366821&sid=67e8e69cb36a4f5dc5c1a9effed07cee&all_sr_blocks=49726004_397716781_0_2_0&checkin=2025-06-27&checkout=2025-06-28&dest_id=-1456928&dest_type=city&dist=0&group_adults=1&group_children=0&hapos=1&highlighted_blocks=49726004_397716781_0_2_0&hpos=1&matching_block_id=49726004_397716781_0_2_0&no_rooms=1&req_adults=1&req_children=0&room1=A&sb_price_type=total&sr_order=popularity&sr_pri_blocks=49726004_397716781_0_2_0__12410&srepoch=1737049982&srpvid=916b7dbcb03f0b69&type=total&ucfs=1&"
          target="_blank">
          <p>Website</p>
        </a>
      </div>
      <div class="images"></div>
    </div>

    <div class="item">
      <div class="text">
        <h2>Résidence de Bourgogne</h2>
        <p>15 Rue du Faubourg Saint-Martin, 75010 Paris (10th arrondissement)</p>
        <p>12mn walk</p>
        <p>Subway station: Strasbourg St Denis</p>
        <br>
        <p>Double room 119€</p>
        <p>Triple room 134€</p>
        <p>Breakfast 8,50€</p>
        <br>
        <a href="https://www.booking.com/hotel/fr/residence-de-bourgogne-paris1234567891011121314151617.fr.html?aid=7982216&label=gog235jc-1FCAsoTUI1cmVzaWRlbmNlLWRlLWJvdXJnb2duZS1wYXJpczEyMzQ1Njc4OTEwMTExMjEzMTQxNTE2MTdICVgDaE2IAQGYAQ24AQfIAQ3YAQHoAQH4AQqIAgGoAgO4AsmIpLwGwAIB0gIkYjdhNGM4ZjgtNDhkNS00MGIyLWExYTMtMTc4YTg4Mjg2MjVk2AIF4AIB&sid=67e8e69cb36a4f5dc5c1a9effed07cee&age=0&all_sr_blocks=775495604_397714287_0_42_0&checkin=2025-06-27&checkout=2025-06-28&dest_id=-1456928&dest_type=city&dist=0&group_adults=1&group_children=1&hapos=1&highlighted_blocks=775495604_397714287_0_42_0&hpos=1&matching_block_id=775495604_397714287_0_42_0&no_rooms=1&req_adults=1&req_age=0&req_children=1&room1=A%2C0&sb_price_type=total&sr_order=popularity&sr_pri_blocks=775495604_397714287_0_42_0__11879&srepoch=1737033095&srpvid=27a35cc3bb9607dc&type=total&ucfs=1&"
          target="_blank">
          <p>Website</p>
        </a>
      </div>
      <div class="images"></div>
    </div>

    <div class="item">
      <div class="text">
        <h2>citizenM Paris Opera</h2>
        <p>18 Rue du Croissant, 75002 Paris (2nd arrondissement)</p>
        <p>15mn walk</p>
        <p>Subway station: Bourse</p>
        <br>
        <p>Double room 268€</p>
        <p>Double room 267€</p>
        <p>Breakfast 20€</p>
        <br>
        <a href="https://www.booking.com/hotel/fr/citizenm-paris-opera.fr.html?aid=7982216&label=gog235jc-1DCAsoTUIUY2l0aXplbm0tcGFyaXMtb3BlcmFICVgDaE2IAQGYAQ24AQfIAQ3YAQPoAQH4AQqIAgGoAgO4AtmNpLwGwAIB0gIkMDk2MzVhMTUtZTFhMy00NTZhLTgzNDAtMzFkZTIxN2M1MzMy2AIE4AIB&sid=67e8e69cb36a4f5dc5c1a9effed07cee&all_sr_blocks=934698601_365586010_2_2_0_636812&checkin=2025-06-27&checkout=2025-06-28&dest_id=-1456928&dest_type=city&dist=0&group_adults=1&group_children=0&hapos=1&highlighted_blocks=934698601_365586010_2_2_0_636812&hpos=1&matching_block_id=934698601_365586010_2_2_0_636812&no_rooms=1&req_adults=1&req_children=0&room1=A&sb_price_type=total&sr_order=popularity&sr_pri_blocks=934698601_365586010_2_2_0_636812_26675&srepoch=1737033450&srpvid=229b5d72d3df0143&type=total&ucfs=1&activeTab=main"
          target="_blank">
          <p>Website</p>
        </a>
      </div>
      <div class="images"></div>
    </div>

    <div class="item">
      <div class="text">
        <h2>Hotel Restaurant Au Boeuf Couronné</h2>
        <p>188, Avenue Jean Jaurès, 75019 Paris (19th arrondissement)</p>
        <p>23mns by bike</p>
        <p>Metro station: Porte de Pantin</p>
        <br>
        <p>Double room 116€</p>
        <p>Triple room 171€</p>
        <p>Quadruple room 225€</p>
        <p>Breakfast 15€</p>
        <br>
        <a href="https://www.booking.com/hotel/fr/restaurant-au-boeuf-couronne.fr.html?aid=356931&label=metagha-link-LUFR-hotel-1611035_dev-desktop_los-1_bw-4_dow-Monday_defdate-1_room-0_gstadt-2_rateid-public_aud-0_gacid-21411112526_mcid-10_ppa-0_clrid-0_ad-1_gstkid-0_checkin-20241230_ppt-_lp-2250_r-970279934425390498&sid=67e8e69cb36a4f5dc5c1a9effed07cee&all_sr_blocks=225056401_98894585_0_2_0&checkin=2025-06-27&checkout=2025-06-28&dest_id=-1456928&dest_type=city&dist=0&group_adults=1&group_children=0&hapos=1&highlighted_blocks=225056401_98894585_0_2_0&hpos=1&matching_block_id=225056401_98894585_0_2_0&no_rooms=1&req_adults=1&req_children=0&room1=A&sb_price_type=total&sr_order=popularity&sr_pri_blocks=225056401_98894585_0_2_0__11553&srepoch=1737050715&srpvid=31087f2be3b104d6&type=total&ucfs=1&"
          target="_blank">
          <p>Website</p>
        </a>
      </div>
      <div class="images"></div>
    </div>
    <br>

    <div class="title">
      <h1>Hostels</h1>
    </div>
    <div class="item">
      <div class="text">
        <h2>The People - Paris Belleville</h2>
        <p>59 Boulevard de Belleville, 75011 Paris (11th arrondissement)</p>
        <p>30mn walk</p>
        <p>Metro station Belleville</p>
        <br>
        <p>Double room €247.50</p>
        <p>Quadruple room €401.52</p>
        <br>
        <p>belleville.gm&#64;thepeoplehostel.com</p>
      </div>
      <div class="images"></div>
    </div>

    <div class="item">
      <div class="text">
        <h2>St Christopher's Inn Gare du Nord</h2>
        <p>5 Rue de Dunkerque, 75010 Paris (10th arrondissement)</p>
        <p>30mn walk</p>
        <p>Metro station Gare du Nord or Gare de l'est</p>
        <br>
        <p>Single room €206.60</p>
        <p>Double room €239.56</p>
        <p>Quadruple room €303.32</p>
        <p>Breakfast possible</p>
      </div>
      <div class="images"></div>
    </div>

    <div class="item">
      <div class="text">
        <h2>Generator Paris</h2>
        <p>9-11 Pl. du Colonel Fabien, 75010 Paris (10th arrondissement)</p>
        <p>30mn walk</p>
        <p>Metro station Colonel Fabien</p>
        <br>
        <p>Double room €228.00</p>
        <p>Quadruple room €226.52</p>
      </div>
      <div class="images"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>