<div class="navbar-mobile">
  <button class="close-button" mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <a mat-fab extended (click)="close()" routerLink="/home" routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a mat-fab extended (click)="close()" href="https://www.billetweb.fr/1st-european-lgbtqia-convention-of-narcotics-anonymous-france"
    target="_blank">
    <mat-icon>local_activity</mat-icon>
    Tickets
  </a>
  <a mat-fab extended (click)="close()" routerLink="/accomodation" routerLinkActive="active">
    <mat-icon>bed</mat-icon>
    Accomodation
  </a>
  <a mat-fab extended (click)="close()" routerLink="/venue" routerLinkActive="active">
    <mat-icon>stadium</mat-icon>
    Venue
  </a>
  <a mat-fab extended (click)="close()" routerLink="/activities" routerLinkActive="active">
    <mat-icon>diversity_1</mat-icon>
    Activities
  </a>
  <a mat-fab extended (click)="close()" routerLink="/food" routerLinkActive="active">
    <mat-icon>local_dining</mat-icon>
    Food
  </a>
  <div class="mobile-contact">
    <p>Join us on Facebook for the latest info</p>
    <app-contact-bar (closeClicked)="close()"></app-contact-bar>
  </div>
</div>