<div class="activities-container" appResponsive>
  <div class="activities-content">
    <!-- <h2>Event Highlights:</h2> -->
    <div class="program">
      <div class="image-container">
        <div class="friday image">
            <a href="program_friday.png" target="_blank" onclick="window.open(this.href, '_blank', 'width=500,height=893,resizable=yes'); return false;">
            <img ngSrc="program_friday.png" alt="Friday program" fill priority />
            </a>
        </div>
      </div>
      <div class="image-container">
        <div class="saturday image">
          <a href="program_saturday.png" target="_blank" onclick="window.open(this.href, '_blank', 'width=500,height=893,resizable=yes'); return false;">
            <img ngSrc="program_saturday.png" alt="Saturday program" fill priority />
          </a>
        </div>
      </div>
      <div class="image-container">
        <div class="sunday image">
          <a href="program_sunday.png" target="_blank" onclick="window.open(this.href, '_blank', 'width=500,height=893,resizable=yes'); return false;">
            <img ngSrc="program_sunday.png" alt="Sunday program" fill priority />
          </a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>