<div class="activities-container" appResponsive>
  <div class="activities-content">
    <h2>Event Highlights:</h2>
    <ul>
      <li>Friday: Welcome meeting to kick-start the convention.</li>
      <br>
      <li>Saturday: Recovery meetings throughout the day, a public information event during the Paris Pride March, and a
        fellowship walk exploring Paris' famous landmarks.</li>
      <br>
      <li>Sunday: A full day of speaker sessions, a talent show, and a closing celebration.</li>
    </ul>
    <p>More info to come!</p>
  </div>
</div>