<div class="contact-container" appResponsive>
  <div class="contact-content">
    <div><span>Get in touch with the service committee: </span><span
        style="font-weight: bold;">contact&#64;lgbtqcna.eu</span></div>
    <div style="margin: 20px 0;"><span>If you are a newcomer or the only thing that's stopping you from registering is the price, </span><span
        class="underlined">a batch of free tickets is available to you.</span>
      <p style="margin: 0">Feel free to send us an email!</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>