<div class="venue-container" appResponsive>
  <div class="venue-content">
    <h2>Espace Saint-Martin: The Heart of Our Convention</h2>
    <p>The convention will be hosted at Espace Saint-Martin, a premier venue in Le Marais, the queer neighbourhood of
      central Paris. </p>
    <p>Located at 199 bis, rue Saint-Martin, 75003 Paris, this modern space offers over 1,500 m² of flexible event
      areas, making it ideal for our diverse range of activities.</p>
    <br>
    <div class="image-container">
      <div class="zodiaque image">
        <img ngSrc="zodiaque.png" alt="Salle du Zodiaque" fill priority />
      </div>
    </div>
    <br>
    <div class="button">
    <a mat-fab extended href="https://maps.app.goo.gl/dJ485FYYUPwnbeyNA" target="_blank">
      <mat-icon>location_on</mat-icon>
      Find on Google Maps
    </a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>