<div class="navbar">
  <a mat-fab extended routerLink="/home" routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a mat-fab extended href="https://www.billetweb.fr/1st-european-lgbtqia-convention-of-narcotics-anonymous-france" target="_blank">
    <mat-icon>local_activity</mat-icon>
    Tickets
  </a>
  <a mat-fab extended routerLink="/accomodation" routerLinkActive="active">
    <mat-icon>bed</mat-icon>
    Accomodation
  </a>
  <a mat-fab extended routerLink="/venue" routerLinkActive="active">
    <mat-icon>stadium</mat-icon>
    Venue
  </a>
  <a mat-fab extended routerLink="/activities" routerLinkActive="active">
    <mat-icon>diversity_1</mat-icon>
    Activities
  </a>
</div>
