<div class="navbar" appResponsive>
  <a class="nav-icon-web" mat-fab extended routerLink="/home" routerLink="/" routerLinkActive="active" alt="Home" title="Home">
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a class="nav-icon-web" mat-fab extended href="https://www.billetweb.fr/1st-european-lgbtqia-convention-of-narcotics-anonymous-france" target="_blank" alt="Tickets" title="Tickets">
    <mat-icon >local_activity</mat-icon>
    Tickets
  </a>
  <a class="nav-icon-web" mat-fab extended routerLink="/accomodation" routerLinkActive="active" alt="Accomodation" title="Accomodation">
    <mat-icon >bed</mat-icon>
    Accomodation
  </a>
  <a class="nav-icon-web" mat-fab extended routerLink="/venue" routerLinkActive="active" alt="Venue" title="Venue">
    <mat-icon >stadium</mat-icon>
    Venue
  </a>
  <a class="nav-icon-web" mat-fab extended routerLink="/activities" routerLinkActive="active" alt="Activities" title="Activities">
    <mat-icon >diversity_1</mat-icon>
    Activities
  </a>
  <a class="nav-icon-tablet" mat-fab routerLink="/home" routerLink="/" routerLinkActive="active" alt="home" title="Home">
    <mat-icon>home</mat-icon>
  </a>
  <a class="nav-icon-tablet" mat-fab href="https://www.billetweb.fr/1st-european-lgbtqia-convention-of-narcotics-anonymous-france" target="_blank" alt="Tickets" title="Tickets">
    <mat-icon>local_activity</mat-icon>
  </a>
  <a class="nav-icon-tablet" mat-fab routerLink="/accomodation" routerLinkActive="active" alt="Accomodation" title="Accomodation">
    <mat-icon>bed</mat-icon>
  </a>
  <a class="nav-icon-tablet" mat-fab routerLink="/venue" routerLinkActive="active" alt="Venue" title="Venue">
    <mat-icon>stadium</mat-icon>
  </a>
  <a class="nav-icon-tablet" mat-fab routerLink="/activities" routerLinkActive="active" alt="Activities" title="Activities">
    <mat-icon>diversity_1</mat-icon>
  </a>
</div>