@use "../../theme-colors" as convention-theme
@use "@angular/material" as mat

$background-color: #040239

.drawer-container
  height: 100vh
  width: 100%
  display: flex
  flex-direction: column
  background-color: $background-color
  color: white

.full-drawer
  background-color: var(--mat-sys-inverse-primary)

.full-drawer.web, .full-drawer.tablet
  display: none

.app-bars-web
  position: sticky
  top: 0
  padding: 5px 0 10px 0
  background-color: $background-color
  z-index: 1000

.app-bars-web.mobile
  display: none

.title-bar-mobile.web, .title-bar-mobile.tablet
  display: none

.title-bar-web.inactive
  display: none

.title-bar-mobile.inactive
  display: none

.burger
  position: fixed
  left: 50%
  transform: translateX(-50%)
  bottom: 30px
  background-color: var(--mat-sys-primary)

.burger.web, .burger.tablet
  display: none
