<div class="home-container" appResponsive>
  <div class="home-content">
    <div class="mobile-space"></div>
    <div class="logo">
      <img class="logo" ngSrc="logo.svg" alt="convention logo" fill priority />
    </div>
    <div class="space"><br></div>
    <div class="title">
      <div class="title-first"><span style="font-family:roboto; font-weight: bold">1</span><span>ST EUROPEAN
          LGBTQIA+</span></div>
      <p>CONVENTION OF NARCOTICS ANONYMOUS</p>
      <div class="space"><br></div>
    </div>
    <div class="olympia">
      <img ngSrc="olympia.svg" alt="convention logo" fill priority />
    </div>
    <br>
    <h2>Welcome to the First European LGBTQIA+ Convention of Narcotics Anonymous
    </h2>
    <p>Join us in Paris from June 27th to 29th, 2025, for the First European LGBTQIA+ Convention of Narcotics Anonymous
      organized by the LGBTQIA+ Committee of the French region of NA. An event celebrating unity, diversity, and
      recovery
      within the Narcotics Anonymous community</p>
    <p>This convention is an opportunity to connect, share experiences, and strengthen our fellowship and recovery
      through
      a weekend of meetings, events, and celebrations.</p>
    <h2>Why Did We Decide to Organize This Convention?</h2>
    <p>In August 2021, a group of addicts, supported by the local GSRs, came together to establish an LGBTQIA+
      subcommittee within the Central Paris Area. Three months later, this collective effort led to the first-ever
      LGBTQIA+ convention in the French region, bringing addicts together from all over the country. This event marked
      the
      beginning of a service journey that, over the next three years, included four successful conventions, an H&I
      meeting, and numerous PI initiatives.</p>
    <p>Last year, these efforts culminated in the passing of a motion to create an LGBTQIA+ committee to serve the whole
      French region, with the purpose of carrying the message of Narcotics Anonymous to the LGBTQIA+ addict who still
      suffers and helping all addicts feel included in our life-saving fellowship.</p>
    <p>Now, for its fifth edition, the French LGBTQIA+ convention is expanding to a European scale. This year, from June
      27th to 29th, 2025, we invite addicts from across the globe to join us in celebrating the unity and diversity of
      our
      beautiful fellowship.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>