<app-contact-bar [isHomepage]="true"></app-contact-bar>
<div class="home">
  <div class="content">
    <img ngSrc="logo.svg" alt="convention logo" width="200" height="200" priority />
    <br>
    <div class="title">
      <div class="title-first"><span style="font-family:roboto; font-weight: bold">1</span><span>ST EUROPEAN LGBTQIA+</span></div>
      <p>CONVENTION OF NARCOTICS ANONYMOUS</p>
    </div>
    <img ngSrc="olympia.svg" alt="convention logo" width="600" height="250" priority />
  </div>
</div>