<app-contact-bar [isHomepage]="true"></app-contact-bar>
<div class="home" appResponsive>

  <div class="content">
    <div class="logo">
      <img class="logo" ngSrc="logo.svg" alt="convention logo" fill priority />
    </div>
    <div class="space"><br></div>
    <div class="title">
      <div class="title-first"><span style="font-family:roboto; font-weight: bold">1</span><span>ST EUROPEAN
          LGBTQIA+</span></div>
      <p>CONVENTION OF NARCOTICS ANONYMOUS</p>
      <div class="space"><br></div>
    </div>
    <div class="olympia">
      <img ngSrc="olympia.svg" alt="convention logo" fill priority />
    </div>
  </div>
</div>